.resume-heading {
  margin-top: 30px;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume {
  margin-top: 100px;
  margin-bottom: 360px;
}

.resume a {
  text-decoration: none;
  color: white;
}
