.home-intro-heading {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

.home-intro-paragraph {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-right: 500px;
  margin-left: 500px;
  font-size: 20px;
}

.image-description {
  text-align: center;
}

@media (max-width: 1250px) {
  .home-intro-paragraph {
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: 200px;
    margin-left: 200px;
  }
}

@media (max-width: 635px) {
  .home-intro-paragraph {
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: 50px;
    margin-left: 50px;
  }
}
