.home-intro-heading {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

.home-intro-paragraph {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-right: 500px;
  margin-left: 500px;
  font-size: 20px;
}

.image-description {
  text-align: center;
}
