body {
  margin: 0;
  font-family: "Amatic SC", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Amatic SC", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}
